{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
var intervalID = setInterval(update_values,500);

  function update_values() {
        $.getJSON($SCRIPT_ROOT + '/getdata',
               
      function(data) {
        $('#years').text(data.years);
        $('#months').text(data.months);
        $('#days').text(data.days);
        $('#hours').text(data.hours);
        $('#minutes').text(data.minutes);
        $('#seconds').text(data.seconds);
      });
      
    };
    
</script>
<body onload="update_values();">
  <section id="hero">
    <div class="hero-container">
      <a  class="hero-logo" data-aos="zoom-in"><img src="{{url_for('static',filename='img/logo.png')}}" width="130" height="130" alt=""></a>
      <h1 data-aos="zoom-in"><span id="years"></span> Years <span id="months"></span> Months <span id="days"></span> Days</h1>
      <h2 data-aos="fade-up"><span id="hours"></span> Hours <span id="minutes"></span> Minutes <span id="seconds"></span> Seconds</h2>
      <a data-aos="fade-up" href="https://www.paypal.com/donate?hosted_button_id=XCZFNN9SKS9TC" class="btn-get-started scrollto">Donate me</a>
    </div>
  </section>
<!--  <p>
    <span id="years"></span> Years
    <span id="months"></span> Months
    <span id="days"></span> Days
    <span id="hours"></span> Hours
    <span id="minutes"></span> Minutes
    <span id="seconds"></span> Seconds
  </p>  -->
	</body>
{% endblock %}
